{% extends "base.html" %}

{% block title %}Lista de Posts{% endblock %}
{%block content %}
    <h1>Lista de Eventos</h1>
    {% if eventos %}
    <ul>
        {% for evento in eventos %}
            <li>
                <h2>{{ evento.titulo }}</h2>
                <p>Descripción: {{ evento.descripcion }}</p>
                <p>Fecha de inicio: {{ evento.fecha_inicio }}</p>
                <o> Fecha de fin: {{ evento.fecha_fin}}</o>
                <p>Ubicación: {{ evento.ubicacion }}</p>
            </li>
        {% empty %}
            <li>No hay eventos disponibles.</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay eventos disponibles.</p>
{% endif %}
{% endblock %}