<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi aplicacion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mi_aplicacion/styles.css' %}">
    <script src="{% static 'mi_aplicacion/scripts.js' %}"></script>
    <style>
        body {
            font-family: 'Segoe UI', Roboto, Arial, sans-serif;
            margin: 20px;
            background-color: #f5f5f5; /* gris claro */
            color: #333;
            line-height: 1.6;
        }

        h1, h2, h3 {
            color: #1a1a1a;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Bienvenido al Django Project 2</h1>
    <p>{{ mensaje }}</p>
    <p>{{ valor }}</p>
        <div>
            <h1>Este es el index</h1>
        </div>
    </div>
</body>
</html>