{% extends 'base.html' %}

{% block content %}
<div class="container">
<h2>Lista de eventos</h2>

{% if 'app_gestion.puede_crear_evento' in perms %}
    <p><a href="{% url 'crear_evento' %}">Crear nuevo evento</a></p>
{% endif %}

{% if eventos %}
    <ul>
        {% for e in eventos %}
            <li>
                <b>{{ e.nombre }}</b> ({{ e.fecha }})
                {% if 'app_gestion.puede_editar_evento' in perms %}
                    <a href="{% url 'editar_evento' e.pk %}">✏️ Editar</a>
                {% endif %}
                {% if 'app_gestion.delete_evento' in perms %}
                    <a href="{% url 'eliminar_evento' e.pk %}">🗑️ Eliminar</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay eventos registrados.</p>
{% endif %}
</div>
{% endblock %}

