<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Eventos{% endblock %}</title>
</head>
<body>

<header>
    <nav>
        <a href="{% url 'evento_list' %}">Eventos</a>

        {% if user.is_authenticated %}
            <span>Hola, {{ user.username }}</span>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Cerrar sesión</button>
</form>

        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Registrarse</a>
        {% endif %}
    </nav>
</header>

<hr>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}

</body>
</html>

